body.dark {
  background-color: #18191a;
}

.dark .navbar {
  background-color: #010f19;
}

.dark .navbar .nav-link {
  color: #fff;
}
.dark .main svg {
  fill: #18191a;
}
.dark p {
  color: white;
}
.dark .card {
  background-color: #242526;
}
.dark .services .card ul li {
  color: white;
}
.dark .why-us {
  background-color: #1c1e20;
}
.dark .galleryCard-head,
.dark .galleryCard-footer {
  background-color: #2a2d30;
}
.dark .works .swiper .swiper-slide {
  background-color: #1c1e20;
}
.dark .testimonials .swiper .card p {
  color: white;
}
.dark .testimonials {
  background-color: #1c1e20;
}
.dark .partner {
  background-color: #1c1e20;
}
.dark span {
  color: white;
}
.dark i {
  color: white;
}
/* .dark h5 {
    color: white;
} */
.dark .footer {
  background-color: #101010;
}
.dark .about .goals .col-lg-4 {
  background-color: #242526;
}
.dark .footer .copyright ul.social span {
  background-color: #101010;
}
.dark .blogcontent .content .text {
  background-color: #242526;
}
.dark label {
  color: white;
}
.dark .dataSocial span {
  color: black !important;
}
.dark .team {
  background-color: #242526;
}
.dark .team .swiper .swiper-slide{
  background-color: #242526;
}
